@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 108px;
  padding-right: 108px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.bg-background {
  background-color: #f6f7f9;
}

/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
} */
